body {
    margin: 60px auto;
    width: 70%;
    font-size: 1.5em;
    overflow-y: scroll;
    color: #333;
    line-height: 1.4em;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 1.25em;
    color: #000;
}
h2 {
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  font-size: 1.125em;
  color: #000;
}

ul.posts {
    margin: 20px auto 40px;
}
ul.posts li {
    list-style: none;
}
.profilepic {
  border-radius: 10%;
  width: 25%;
  float: right;
}

.postheader {
  position: relative;
}

.posttitle {
  vertical-align: middle;
}

.postmeta {
  position: absolute;
  top: 8px;
  right: 0px;
}
hr {
  display: block; height: 1px;
  border: 0; border-top: 1px solid #d5d5d5;
  margin: 1em 0; padding: 0;
}
ul.pinnedposts {
    margin: 20px auto 40px;
}
ul.pinnedposts li {
    list-style: none;
}
ul.pinnedposts li div {
  border: 1px solid black;
  margin-bottom: 5px;
}
ul.pinnedposts li div img {
  display: inline;
  max-width: 100px;
  max-height: 100px;
  width: 25%;
  height: 25%;
  vertical-align: middle;
}
