body {
    margin: 60px auto;
    width: 70%;
    font-size: 1.5em;
    overflow-y: scroll;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 1.25em;
}
p {
    line-height: 1.4em;
    color: #333;
}
ul {
  color: #333;
}
ul.posts {
    margin: 20px auto 40px;
}
ul.posts li {
    list-style: none;
}
.profilepic {
  border-radius: 10%;
  width: 25%;
  float: right;
}
