---
layout: default
---

<div class="header-bar">
  <h1>data dork</h1>
  <h2>a data science portfolio</h2>
  <br/>
  <hr>
  <br/>
</div>


<ul class="post-list">
    {% for post in paginator.posts %}
      <li>
          <a href="{{ post.url | prepend: site.baseurl }}">
          {% if post.has_no_img %}
            <div class="default-thumbnail"></div>
          {% else %}
          <div class="index-thumbnail">
            <span></span>
            <img src="/img/{{ post.path | split: "/" | last | split: "." | first }}/thumbnail.png" alt="Thumbnail" />
          </div>
          {% endif %}
          <div>
            <h2 class="post-title">{{ post.title }}</h2>
            <span class="post-list-categories">{{ post.categories | join: '&ensp;•&ensp;'}}</span>
            <br/><br/>
            <!--<p class="post-meta">{{ post.date | date: '%B %-d, %Y — %H:%M' }}</p>//-->
            <p>{{ post.description }}</p>
            <p></p>
            </a>
          </div>
      </li>
    {% endfor %}
</ul>
