---
layout: default
title: Home
---
<h1>Projects</h1>
<ul class="pinnedposts">
  {% for post in site.posts %}
    {% if post.pinned %}
      {% assign postname = post.path | split: "/" %}
      {% assign postname = postname[1] | split: "." %}
      {% assign postname = postname[0] %}
      <li>
        <div>
          <img src="/images/{{ postname }}/thumbnail.jpg" alt="Thumbnail" />
          <span>
            {{ post.date | date_to_string }} <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
          </span>
        </div>
      </li>
    {% endif %}
  {% endfor %}
</ul>
