<div class="header">
  <nav>
    <ul>
      <li>
        {% if page.url == "/" %}
          <span class="activepage">Home</span>
        {% else %}
          <a href="/">Home</a>
        {% endif %}
      </li>
      <li>
        {% if page.url == "/about" %}
          <span class="activepage">About</span>
        {% else %}
          <a href="/about">About</a>
        {% endif %}
      </li>
      <li>
        {% if page.url == "/explore" %}
          <span class="activepage">Explore</span>
        {% else %}
          <a href="/explore">Explore</a>
        {% endif %}
      </li>
    </ul>
  </nav>
  <div class="logo"><img src="/images/logo.jpg" alt="Data-Dork" /></div>
</div>
